
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 4rem;
  padding: 1.6rem 4rem;
  border: 1px solid #E43E59;
  background-color: #E43E59;
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.028rem;
  text-transform: uppercase;

  &--white {
    border: 1px solid #FFF;
    background: #FFF;
  }



  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;

  }

  svg path {
    transition: 0.4s ease-in-out;
    fill: #fff;
  }

  &:hover {
    background: #FFF;
    color: #E43E59;

    svg path {
      fill: #E32A2F;
    }
  }
  &--transparent {
    background-color: rgba(#fff, 0);
    border: 1px solid #E43E59;
    color: #E43E59;
    &:hover {
      background-color: rgba(#E43E59, 1);
      color: #fff;
    }
  }
}


.selectric .button {
  border: none;
}

.circle-button{
  display: flex;
  width: 5.2rem;
  height: 5.2rem;
  padding: 1.4rem;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;border-radius: 50%;
  background: rgba(12, 14, 18, 0.10);
  &:hover{
    background: #E43E59;
  }
}