
<div class="checkout-ticket">
    <label class="checkout-ticket-column">
        <span class="checkout-ticket-column__title">Select zone</span>
        <select name="zone" class="select">
            <option value="" disabled selected>Select</option>
            <option>zone 1</option>
            <option>zone 2</option>
        </select>
    </label>
    <label class="checkout-ticket-column">
        <span class="checkout-ticket-column__title">Select Place</span>
        <select name="Place" class="select">
            <option value="" disabled selected>Select</option>
            <option>Place 1</option>
            <option>Place 2</option>
        </select>
    </label>
    <label class="checkout-ticket-column">
        <span class="checkout-ticket-column__title"></span>
        <span class="checkout-ticket-qnt form-quantity">
                                    <a href="#" class="minus">
                                        <img src="img/minus.svg" alt="">
                                    </a>
                                    <input type="number" class="number-input" readonly value="1">
                                    <a href="#" class="plus">
                                        <img src="img/plus.svg" alt="">
                                    </a>
                                </span>

    </label>
    <div class="checkout-ticket-column">
                                <span class="checkout-ticket-column__title">
                                    <a href="" class="checkout-ticket-remove">
                                        <img src="img/close.svg" alt="">
                                    </a>
                                </span>
        <div class="checkout-ticket-price">
            0 $
        </div>

    </div>

</div>