.events {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  @media (max-width: 1200px) {
    gap: 1rem;
  }
  @media (max-width: 450px) {
    justify-content: center;
    gap: 2rem;
  }

  &-section {
    padding-top: 10rem;
    padding-bottom: 8rem;
    @media (max-width: 450px) {

      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .event {
    width: calc(25% - 1.7rem);
    @media (max-width: 1200px) {
      width: calc(25% - 0.8rem);
    }
    @media (max-width: 1024px) {
      width: calc(33.3% - 0.7rem);
      max-width: none;
    }
    @media (max-width: 767px) {
      width: calc(50% - 0.5rem);
    }
    @media (max-width: 450px) {
      width: 100%;
      max-width: 33.8rem;
    }
  }

  &-filter {
    position: relative;
    z-index: 10;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ECE0E2;

    @media (max-width:375px) {
      flex-direction: column;
    }
    &__label {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      input {
        padding: 1rem;
        border-radius: 1rem;
      }
    }

    .header-controls-item {
      border-radius: 0;
      @media (max-width:450px) {
        width: 50%;
      }
      @media (max-width:375px) {
        width: 100%;
      }
      input {
        background-color: rgba(#fff, 0);
      }

      &:hover {
        background-color: rgba(#ECE0E2, 0.6);
        border-color: rgba(#fff, 0);
      }
    }

    &-dropdown {
      position: absolute;
      z-index: 10;
      width: 20rem;
      height: fit-content;
      max-height: 30rem;
      overflow: auto;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid #ECE0E2;
      background: #FFF;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
      transition: 0.4s ease-in-out;
      transition-property: opacity, transform;
      transform: translateY(-1rem);
      opacity: 0;
      pointer-events: none;

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        border: 1px solid #E43E59;
        background: #E43E59;
        color: #FFF;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.028rem;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{

          background: #fff;
          color: #E43E59;
        }
      }

      &__label {
        display: flex;
        gap: 0.8rem;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .icon {
          border-radius: 6px;
          overflow: hidden;
          border: 1px solid #E43E59;
          img, svg {
            opacity: 0;
            transition: 0.4s ease-in-out;
          }
        }

        input {
          display: none;

          &:checked + .icon {
            border-color: rgba(#E43E59, 0);

            img, svg {
              opacity: 1;
            }
          }
        }
      }
    }

    &-item {
      position: relative;
      color: #0C0E12;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      @media (max-width:768px) {
        font-size: 1.8rem;
      }
      @media (max-width:450px) {
        width: 50%;
      }
      @media (max-width:375px) {
        width: 100%;
      }
      .icon, .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        transition: 0.4s ease-in-out;
      }

      .icon {
        width: 2rem;
        height: 2rem;
        @media (max-width:768px) {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      &__head {
        padding: 1.6rem;
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;
        border: 1px solid #fff;
        @media (max-width:1200px) {
          gap: .6rem;
          padding: 1rem;
        }
        @media (max-width:450px) {
          width: 100%;
          justify-content: space-between;
        }

        &:hover {
          background-color: rgba(#ECE0E2, 0.6);
          border-color: rgba(#fff, 0);
        }
      }

      &.active {
        .arrow {
          transform: rotate(180deg);
        }

        .events-filter-dropdown {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }
    &.not-active{
      opacity: 1;
      .events-filter-dropdown__label{
        pointer-events: none;
      }
    }
  }
}

.event {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 46.9rem;
  width: 100%;
  max-width: 33.8rem;
  min-height: 46.9rem;
  border: 1px solid #ECE0E2;
  background-color: #fff;

  @media (max-width: 1023px) {
    padding-top: 0;
  }

  &__button {
    width: 100%;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    border: 1px solid #FFF;
    background: #FFF;
    color: #0C0E12;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.032rem;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(#fff, 0);
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    will-change: transform;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
    }
  }

  &-description {
    padding-top: 4rem;
    margin-bottom: 4rem;
    color: #FFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__title {
    display: block;
    margin-bottom: auto;
    color: #FFF;
    text-align: center;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.4rem;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 4rem;
      font-weight: 600;
      line-height: 5rem;
    }
    @media (max-width: 768px) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  &__favorite {
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
    will-change: transform;

    &.active {
      svg {
        path {
          //fill: #0C0E12;
        }
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 46.9rem;
    transition: 0.2s ease-in-out;
    will-change: transform;

    @media (max-width: 1023px) {
      position: relative;
      pointer-events: none;
    }


    &-content {
      position: absolute;
      padding: 2rem;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: rgba(228, 62, 89, 0.80);
      opacity: 0;
      transition: 0.2s ease-in-out;
      will-change: transform;
      @media (max-width: 768px) {
        padding: 1rem;
      }
    }

    &:hover {
      @media (min-width: 1023px) {

        height: 100%;
      }

      .event-main-content {
        @media (min-width: 1023px) {
          opacity: 1;
          padding-top: 10rem;
        }
      }
    }
  }

  &-information {
    &__item {
      display: flex;
      gap: 0.8rem;
      color: #555659;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;

      .icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
      }

      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &-footer {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: 0.2s ease-in-out;
    will-change: transform;

    

    &__title {
      display: block;
      margin-bottom: 2.4rem;
      color: #0C0E12;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3rem;
      text-transform: uppercase;
      @media (max-width: 768px) {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 600;
      }
    }

    & + .event__button {
      margin: auto;
      margin-bottom: 0;
      width: calc(100% - 2rem);
      display: flex;
      background-color: #E43E59;
      color: #fff;
      &:hover{
        background-color: #fff;
        color: #E43E59;
      }
    }
  }
}

